[Unit]
Description=eForm Locker - System Monitor
After=eform-locker.service

[Service]
ExecStart=/bin/bash /home/pi/eform-locker/scripts/deployment/system-monitor.sh
Restart=always
RestartSec=30
User=pi
Group=pi
WorkingDirectory=/home/pi/eform-locker

[Install]
WantedBy=multi-user.target
